html {
    height: 100%;
    width: 100%;
}

body {
    margin: 24px;
    font-family: 'Montserrat', sans-serif;
    background-color: #222;
    color: goldenrod;
}

.navbar {
    font-size: 2rem;
}

.bottom-navbar {
    position: fixed;
    bottom: 12px;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: goldenrod;
}

a:hover {
    background-color: blanchedalmond;
}

.container {
    max-width: 660px;
    margin: auto;
}