html {
    height: 100%;
    width: 100%;
}

body {
    margin: 24px;
    font-family: 'Montserrat', sans-serif;
    background-color: #222;
    color: goldenrod;
    font-size: 18px;
}

.navbar {
    font-size: 2rem;
}

.bottom-navbar {
    position: fixed;
    bottom: 12px;
}

.pc-navbar {
    display: block;
}

.mobile-navbar {
    display: none;
}

.current-page {
    background-color: #444;
    text-decoration: underline;
}  

a:active, a:visited, a:link {
    text-decoration: none;
    color: goldenrod;
}

a:hover {
    background-color: blanchedalmond;
}

.container {
    max-width: 660px;
    margin: auto;
}

@media screen and (max-width: 550px) {
    .mobile-navbar { display: block; }
    .pc-navbar { display: none; }
    body { font-size: 16px; }
}

